<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html>
	<head>
		<title>EasyNews</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header"><div class="logo"><a href="/index"> News <span> nugget </span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="index">Home</a></li>
					<li><a href="generic">내 정보</a></li>
					<li><a href="elements">설정</a></li>
				</ul></nav><!-- One --><section id="One" class="wrapper style3"><div class="inner">
					<header class="align-center"><p>산업</p>
						<h2>현대차 노사, 장애 아동 위한 교통안전 체험 행사 지원</h2>
					</header></div>
			</section><!-- Two --><section id="two" class="wrapper style2"><div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>난이도 선택</h2>
								<p></p>
							</header>

							<header class="align-center" style="margin-top : 25px">
								<ul class="actions">
										<li><a href="2/high" class="button alt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
									</ul>

								<ul class="actions">
										<li><a href="2/medium" class="button alt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;중&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
									</ul>

								<ul class="actions">
										<li><a href="2/low" class="button alt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;하&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
									</ul>
							</header>
						</div>
					</div>
				</div>
<!--			</section>&lt;!&ndash; Footer &ndash;&gt;<footer id="footer"><div class="container">-->
<!--					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
<!--						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>-->
<!--					</ul></div>-->
<!--			</footer>-->
			<div class="copyright">

		</div>
		<div class="copyright">
			(주)뉴스너겟 대표: 김민근.
		</div>
		<div class="copyright">
			주소: 서울 서초구 반포대로 3, 6층, 7층, 8층 (서초동,이스트빌딩)
		</div>
		<div class="copyright">
			TEL(구독 문의): 010-3165-3848
		</div>
		<div class="copyright">
			email: jinwonie@naver.com
		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
