<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html>
	<head>
		<title>EasyNews</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt"><div class="logo"><img src="static/images/nugget.PNG" width="40" height="40" margin-top : 10px><a href="index"> News <span>nugget</span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="index">Home</a></li>
					<li><a href="generic">내 정보</a></li>
					<li><a href="elements">설정</a></li>
				</ul></nav><!-- Banner --><section class="banner full"><article><img src="static/images/AI.jpg" alt="" width="1440" height="961"><div class="inner">
						<header><p>Artificial intelligence</a></p>
							<h2>인공지능</h2>
						</header></div>
				</article><article><img src="static/images/Economy.png" alt="" width="1440" height="961"><div class="inner">
						<header><p>Economy</p>
							<h2>경제</h2>
						</header></div>
				</article><article><img src="static/images/Culture.png" alt="" width="1440" height="962"><div class="inner">
						<header><p>Culture</p>
							<h2>문화</h2>
						</header></div>
				</article><article><img src="static/images/Global.png" alt="" width="1440" height="961"><div class="inner">
						<header><p>Global</p>
							<h2>세계</h2>
						</header></div>
				</article><article><img src="static/images/Society.png" alt="" width="1440" height="962"><div class="inner">
						<header><p>Society</p>
							<h2>사회</h2>
						</header></div>
				</article></section><!-- One --><section id="one" class="wrapper style2"><div class="inner">
					<div class="grid-style">
						<div>
							<div class="box">
								<div class="image fit">
									<a href="article_rate/2"><img src="static/images/result1.jpg" alt="" width="600" height="300"></a></div>
								<div class="content">
									<header class="align-center"><p>산업</p>
										<h2>급발진 의심사고 시 제조사가 결함 입증해야"…도현이법 재청원</h2>
									</header>
									<footer class="align-center"><a href="article_rate/2" class="button alt">보러 가자!</a>
									</footer></div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<a href="article_rate/2"><img src="static/images/result4.jpg" alt="" width="600" height="300"></a></div>
								<div class="content">
									<header class="align-center"><p>산업</p>
										<h2>현대차 노사, 장애 아동 위한 교통안전 체험 행사 지원</h2>
									</header>
									<footer class="align-center"><a href="article_rate/2" class="button alt">보러 가자!</a>
									</footer></div>
							</div>
						</div>

					</div>
			<!-- add -->
					<div class="grid-style">
						<div>
							<div class="box">
								<div class="image fit">
									<a href="article_rate/2"><img src="static/images/result7.jpg" alt="" width="600" height="300"></a></div>
								<div class="content">
									<header class="align-center"><p>산업</p>
										<h2>내 작품을 어도비 AI학습에?…다시 깨우친 데이터의 소중함</h2>
									</header>
									<footer class="align-center"><a href="article_rate/2" class="button alt">보러 가자!</a>
									</footer></div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<a href="article_rate/2"><img src="static/images/result33.jpg" alt="" width="600" height="300"></a></div>
								<div class="content">
									<header class="align-center"><p>사회</p>
										<h2>의료계도 '집단 휴진' 반대…"환자 위기 빠뜨리면 안돼</h2>
									</header>
									<footer class="align-center"><a href="article_rate/2" class="button alt">보러 가자!</a>
									</footer></div>
							</div>
						</div>

					</div>
				</div>
<!--			</section>&lt;!&ndash; Two &ndash;&gt;<section id="two" class="wrapper style3"><div class="inner">-->
<!--					<header class="align-center"><p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>-->
<!--						<h2>Morbi maximus justo</h2>-->
<!--					</header></div>-->
			</section>
		<!-- Three -->
		<!--
		<section id="three" class="wrapper style2"><div class="inner">
					<header class="align-center"><p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header><div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="static/images/pic01.jpg" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/images/pic02.jpg" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/images/pic03.jpg" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="static/images/pic04.jpg" alt="" width="600" height="300"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			-->
			<!-- Footer -->
		<!--
		<footer id="footer"><div class="container">
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul></div>
			</footer>
			-->
		<div class="copyright">

		</div>
		<div class="copyright">
			(주)뉴스너겟 대표: 김민근.
		</div>
		<div class="copyright">
			주소: 서울 서초구 반포대로 3, 6층, 7층, 8층 (서초동,이스트빌딩)
		</div>
		<div class="copyright">
			TEL(구독 문의): 010-3165-3848
		</div>
		<div class="copyright">
			email: jinwonie@naver.com
		</div>

		<!-- Scripts -->
<!--			 <script src="static/js/jquery.min.js"></script> -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!--		<script src="static/js/jquery.scrollex.min.js"></script>-->
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
<!--		<script src="static/js/skel.min.js"></script>-->
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<!--		<script src="static/js/util.js"></script>-->
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<!--		<script src="static/js/main.js"></script>-->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
