<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html>
	<head>
		<title>EasyNews</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header"><div class="logo"><a href="/index"> News <span>nugget</span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="/index">Home</a></li>
					<li><a href="/generic">내 정보</a></li>
					<li><a href="/elements">설정</a></li>
				</ul></nav><!-- One --><section id="One" class="wrapper style3"><div class="inner">
					<header class="align-center"><p>산업</p>
						<h2>현대차 노사, 장애 아동 위한 교통안전 체험 행사 지원</h2>
					</header></div>
			</section><!-- Two --><section id="two" class="wrapper style2"><div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center"><p></p>
							</header>
							<div class="align-center">
								<div>
									<div class="box">
										<div class="image fit">
											<img src="/static/images/result35.png" alt="" width="600" height="300">
										</div>
										<div class="content">
											<header class="align-center">
												현대자동차가 장애 아동을 대상으로 교통 안전 교육을 시행했다. 해당 교육은 울산 키즈 오토파크에서 진행되었다. 교육 과정에는 교통 안전 영상을 시청하고 운전 방법을 배우는 시간이 포함되었다. 또한 보행 안전 교육도 병행되었다. 참가자들은 전기차 모형을 조립하고 양떼 목장을 견학하였다. 현대자동차는 장애 아동뿐만 아니라 다른 대상자들에게도 교통 안전 교육을 확대할 계획이라고 밝혔다. 교통 안전을 준수하면 모든 사람들이 안전하게 이동할 수 있다. 아동들은 교통 사고를 주의해야 한다. 장애 아동들도 안전하게 도로를 이용할 수 있어야 한다. 현대자동차가 의미 있는 활동을 펼쳤다. 모두가 교통 안전을 준수해야 한다.
											</header>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			<header class="align-center" style="margin-top : 25px">
								<ul class="actions">
										<li><a href="/article_rate/2" class="button alt">이전 페이지로</a></li>
									</ul>
							</header>
			</section><!-- Footer --><!--<footer id="footer"><div class="container">
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> -->
<!--			</div>-->
<!--			</footer>-->
		<div class="copyright">

		</div>
		<div class="copyright">
			(주)뉴스너겟 대표: 김민근.
		</div>
		<div class="copyright">
			주소: 서울 서초구 반포대로 3, 6층, 7층, 8층 (서초동,이스트빌딩)
		</div>
		<div class="copyright">
			TEL(구독 문의): 010-3165-3848
		</div>
		<div class="copyright">
			email: jinwonie@naver.com
		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
