<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html>
	<head>
		<title>EasyNews</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header"><div class="logo"><a href="/index"> News <span>nugget</span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="/index">Home</a></li>
					<li><a href="/generic">내 정보</a></li>
					<li><a href="/elements">설정</a></li>
				</ul></nav><!-- One --><section id="One" class="wrapper style3"><div class="inner">
					<header class="align-center"><p>산업</p>
						<h2>현대차 노사, 장애 아동 위한 교통안전 체험 행사 지원</h2>
					</header></div>
			</section><!-- Two --><section id="two" class="wrapper style2"><div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center"><p></p>
							</header>
							<div class="align-center">
								<div>
									<div class="box">
										<div class="image fit">
											<img src="/static/images/result34.png" alt="" width="600" height="300">
										</div>
										<div class="content">
											<header class="align-center">
												<h3><b>현대자동차에서 키즈오토파크에서 장애아동을 위해 모빌리티 테마 체험 교육프로그램을 열었습니다.</b></h3>
												<h3><b>장애 아동들은 교통안전 3D 영상을 관람하고, 주행 체험 교육, 보행 안전 교육을 받았습니다.</b></h3>
												<h3><b>전기차 모형을 조립하고, 양떼목장도 체험했습니다.</b></h3>
												<h3><b>이 행사는 장애 아동들에게 교통안전의 중요성을 알리고 안전 의식을 고취하는 데 도움이 되었습니다.</b></h3>
												<h3><b>현대자동차는 이런 행사를 통해 지역 사회의 올바른 교통안전 문화 정착에 기여하고 있습니다.</b></h3>
												<h3><b>이 행사는 지역 장애인 체육관과 협력하여 진행되었습니다.</b></h3>
												<h3><b>현대자동차는 장애아동뿐만 아니라 다양한 대상에 맞춘 교통안전 교육을 실시할 계획입니다.</b></h3>
											</header>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			<header class="align-center" style="margin-top : 25px">
								<ul class="actions">
										<li><a href="/article_rate/2" class="button alt">이전 페이지로</a></li>
									</ul>
							</header>
			</section><!-- Footer --><!--<footer id="footer"><div class="container">
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> -->
<!--			</div>-->
<!--			</footer>-->
		<div class="copyright">

		</div>
		<div class="copyright">
			(주)뉴스너겟 대표: 김민근.
		</div>
		<div class="copyright">
			주소: 서울 서초구 반포대로 3, 6층, 7층, 8층 (서초동,이스트빌딩)
		</div>
		<div class="copyright">
			TEL(구독 문의): 010-3165-3848
		</div>
		<div class="copyright">
			email: jinwonie@naver.com
		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
