<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html>
	<head>
		<title>EasyNews</title>
		<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header"><div class="logo"><a href="/index"> News <span>nugget</span></a></div>
				<a href="#menu">Menu</a>
			</header><!-- Nav --><nav id="menu"><ul class="links"><li><a href="/index">Home</a></li>
					<li><a href="/generic">내 정보</a></li>
					<li><a href="/elements">설정</a></li>
				</ul></nav><!-- One --><section id="One" class="wrapper style3"><div class="inner">
					<header class="align-center"><p>산업</p>
						<h2>현대차 노사, 장애 아동 위한 교통안전 체험 행사 지원</h2>
					</header></div>
			</section><!-- Two --><section id="two" class="wrapper style2"><div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center"><p></p>
							</header>
							<div class="align-center">
								<div>
									<div class="box">
										<div class="image fit">
											<img src="/static/images/result4.jpg" alt="" width="600" height="300">
										</div>
										<div class="content">
											<header class="align-center">
												<h2><b>현대자동차라는 회사에서는 장애 어린이들을 위해 키즈오토파크에서 교통안전 교육을 실시했어요.</b></h2>
											</header>
										</div>
									</div>
								</div>
								<div>
									<div class="box">
										<div class="image fit">
											<img src="/static/images/result5.jpg" alt="" width="600" height="300">
										</div>
										<div class="content">
											<header class="align-center">
												<h2><b>교통안전 영상 시청, 주행 체험, 보행 안전 교육 등 안전 교육이 눈높이에 맞게 진행되었어요.</b></h2>
											</header>
										</div>
									</div>
								</div>
								<div>
									<div class="box">
										<div class="image fit">
											<img src="/static/images/result6.jpg" alt="" width="600" height="300">
										</div>
										<div class="content">
											<header class="align-center">
												<h2><b>현대자동차는 향후에도 다양한 대상에 맞춘 교통안전 교육을 통해 올바른 교통안전 문화를 정착시키겠다고 밝혔어요.</b></h2>
											</header>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			<header class="align-center" style="margin-top : 25px">
								<ul class="actions">
										<li><a href="/article_rate/2" class="button alt">이전 페이지로</a></li>
									</ul>
							</header>
			</section>


		<!-- Footer --><!--<footer id="footer"><div class="container">
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> -->
<!--			</div>-->
<!--			</footer>-->
		<div class="copyright">

		</div>
		<div class="copyright">
			(주)뉴스너겟 대표: 김민근.
		</div>
		<div class="copyright">
			주소: 서울 서초구 반포대로 3, 6층, 7층, 8층 (서초동,이스트빌딩)
		</div>
		<div class="copyright">
			TEL(구독 문의): 010-3165-3848
		</div>
		<div class="copyright">
			email: jinwonie@naver.com
		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>
